/* Include css reset */
@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/* Variables */
:root {
    --primary-dark-cyan: hsl(158, 36%, 37%);
    --primary-cream: hsl(30, 38%, 92%);

    --neutral-very-dark-blue: hsl(212, 21%, 14%);
    --neutral-dark-grayish-blue: hsl(228, 12%, 48%);
    --neutral-white: hsl(0, 0%, 100%);

    --button-color: hsl(157, 36%, 37%);
    --button-hover-color: hsl(157, 43%, 18%);
    --border-radius: 10px;
}

/* CSS Rules */
body {
    /* Display & Box Model */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Color */
    background-color: var(--primary-cream);

    /* Text */
    font-size: 14px;
}

.card {
    /* Display & Box Model */
    display: flex;
    flex-direction: column;
    max-width: 343px;
    border-radius: var(--border-radius);

    /* Color */
    background-color: var(--neutral-white);
}

.card picture img {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.content {
    padding: 1.5rem;
}

span.category {
    /* Color */
    color: var(--neutral-dark-grayish-blue);

    /* Text */
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.27rem;
    text-align: left;
    text-transform: uppercase;
}

h1 {
    /* Display & Box Model */
    margin-top: 0.8rem;

    /* Text */
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    line-height: 1.9rem;
}

p {
    /* Display & Box Model */
    margin-top: 1rem;

    /* Text */
    font-family: 'Montserrat', sans-serif;
    color: var(--neutral-dark-grayish-blue);
    line-height: 1.5rem;
}

.price {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.current-price {
    /* Display & Box Model */
    margin-right: 1.2rem;

    /* Text */
    font-family: 'Fraunces', serif;
    font-size: 2rem;

    /* Color */
    color: var(--primary-dark-cyan);
}

.old-price {
    /* Color */
    color: var(--neutral-dark-grayish-blue);

    /* Text */
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    text-decoration: line-through;
}

button {
    /* Display & Box Model */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: var(--border-radius);
    padding: 0.9rem;
    margin-top: 0.8rem;
    width: 100%;

    /* Text */
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

    /* Color */
    color: var(--neutral-white);
    background-color: var(--button-color);
}

button img {
    margin-right: 10px;
}

button:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
}

@media (min-width: 769px) {
    .card {
        flex-direction: row;
        max-width: 600px;
        border-radius: var(--border-radius);
    }

    .card picture img {
        height: 100%;
        max-width: 300px;
        border-radius: var(--border-radius) 0 0 var(--border-radius);
    }

    .content { padding: 2rem; }

    h1 { margin-top: 1.25rem; }

    button { margin-top: 1.8rem; }
}
